body {
    background: radial-gradient(
        circle at 0 0,
        #65368e,
        #582653 50vw,
        #06004d 75vw,
        #000
    );
    margin: 0;
    width: fit-content;
}
html {
    background-color: black;
}
h1 {
    color: white;
}
p {
    color: yellow;
}
a {
    color: yellowgreen;
}
* {
    font-family: "Audiowide", sans-serif;
}
.randomizer {
    display: inline-block;
    width: 70px;
    text-align: center;
}