.footer {
    height: 400px;
    border-top: #ff00ff 5px dashed;
    background: linear-gradient(#005555 0%, #00ffff 100%);
    min-width: 100%;
    width: fit-content;
}
.footer--text {
    margin-left: 10px;
    padding-top: 20px;
    color: white;
}
.footer__more {
    display: flex;
    gap: 10px;
    padding-left: 20px;
}
